@media (max-width: 890px) {
	.header__content-title {
		font-size: 50px;
	}

}

@media (max-width: 548px) {
	.header__content-title {
		font-size: 40px;
		line-height: 55px;
	}

}

@media (max-width: 740px) {
	.about__items {
		flex-wrap: wrap;
		
	}

	.about__items-item {
		flex: 0 1 50%;
	}

	.about__items-date {
		font-size: 60px;
		line-height: 80px;
   }
}

@media (max-width: 500px) {
	.about__items {
		flex-wrap: wrap;
		padding: 0;
		
	}

	.about__items-item {
		flex: 0 1 100%;
		padding-bottom: 20px;
		
	}

	.about__items-date {
		font-size: 40px;
		line-height: 60px;
   }
}

@media (max-width: 700px) {

	.title-main {
		font-size: 29px;
	}

	.progress__columns {
		flex-wrap: wrap;

	}

	.progress__column {
		flex: 0 1 100%;
		padding-bottom: 30px;

	}
}

@media (max-width: 735px) {

	.body-main {
		flex-wrap: wrap;
	}

	.request-wrapper {
		padding: 30px 0 30px 0;
	}

	.request-main {
		font-size: 35px;
		line-height: 51px;
		margin-bottom: 20px;
	}

	.button {
		padding: 0;
		margin-bottom: 20px;
	}
}

@media (max-width: 1080px) {

	.services__column {
		flex: 1 1 33.333%;
	}
}

@media (max-width: 1000px) {

	.portfolio__work {
		flex: 0 1 50%;
	}
}

@media (max-width: 500px) {

	.portfolio__work {
		flex: 0 1 100%;
	}
}

@media (max-width: 900px) {

	.partners__items {
		margin: 0;
		flex-wrap: wrap;
	}

	.partners__item {
		flex: 0 1 100%;
		margin-bottom: 30px;
	}

	.partners__logo {
		margin: 0 auto;
	}	
}

@media (max-width: 800px) {

	.reviews__columns {
		flex-wrap: wrap;

	}	

	.reviews__column {
		flex: 1 1 100%;
		padding-bottom: 30px;
	}
}

@media (max-width: 1000px) {

	.contacts__columns {
		flex-wrap: wrap;
	}

	.contacts__column {
		flex: 1 1 50%;
		padding-bottom: 30px;
	}
}

@media (max-width: 484px) {

	.contacts__column {
		flex: 1 1 100%;
		padding-bottom: 30px;
	}
}


